#settingsButton {background-image: url("../public/icons/settings.png");}
#helpButton {background-image: url("../public/icons/help.png");}
.ExitButton {background-image: url("../public/icons/exit.png");}
#finishButton {background-image: url("../public/icons/checkmark.png");}
#pauseButton {background-image: url("../public/icons/pause.png");}
#playButton {background-image: url("../public/icons/play.png");}
#stopButton {background-image: url("../public/icons/stop.png");}
#addButton {background-image: url("../public/icons/add.png");}
#editButton {background-image: url("../public/icons/edit.png");}
#deleteButton {background-image: url("../public/icons/delete.png");}
#clearButton {background-image: url("../public/icons/reset.png");}

.App {
    text-align: center;
    align-content: center;
}

.Large {
    font-size: 72px;
    margin: 0.5em auto;
}

.Text {
    font-size: 16px;
    text-align: start;
    margin: 0em 3em;
}

.Top {
    margin: 3em 3em 0em 3em;
}

.Body {
    border: black solid 2px;
    width: 50%;
    padding: 2em;
    margin: 1em auto auto auto;
}

.Inner {
    border: black solid 1px;
    width: 80%;
    padding: 2em;
    margin: 1em auto auto auto;
}

footer {
    background-color: black;
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    width: calc(100% - 2 * 5em);
    padding: 1.5em 5em;
    margin: 15em 0em 0em 0em;
}

.LeftGroup {
    flex-direction: row;
    display: inline-flex;
    justify-content: flex-start;
    width: 65%;
}

.RightGroup {
    flex-direction: row;
    display: inline-flex;
    justify-content: flex-end;
    width: 35%;
}

.ButtonRow {
    flex-direction: row;
}

.IconButton {
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    margin: 0em 0.5em;
}

.SegmentList {
    border: 2px solid black;
    width: 700px;
    margin: 1em auto auto auto;
}

.SegmentHeader {
    flex-direction: row;
    background-color: grey;
    border: 1px solid black;
    padding: 0.5em;
}

.Segment {
    flex-direction: row;
    border: 1px dotted black;
    padding: 0.5em;
}

.Segment .Text {
    margin: 0em 0.5em;
}

.NameInput {
    width: 100%;
    padding: 5px;
    margin: 0em 0em 0em 1em;
}

.MaxInput {
    text-align: end;
    width: 50%;
    padding: 5px;
    margin: 0em 1em 0em 0em;
}

.SubmitRow {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin: 1em 0em 0em 0em;
}

.SubmitButton {
    margin: 0em 1em 0em 1em;
    padding: 5px;
}

.FileInput {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

.IOButton {
    background-color: #eeeeee;  /* eeeeee */
    border: 1px solid black;
    border-radius: 2px;
    font-size: 14px;
    height: auto;
    margin: 0em 1em 0em 0em;
    padding: 5px;
}

.Dropdown {
    padding: 5px;
}

input:invalid {
    border: red solid 2px;
    color: red;
}

button:hover:not(.SubmitButton) {
    background-color: lightblue;
}

button:disabled {
    border: red solid 2px;
}





/* Below is create-react-app sample. */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
